<div class="space-y-8">
  <h1 class="text-xl lg:text-2xl">Resources</h1>

  <ul class="font-mono text-sm text-light space-y-5">
    {{#each resourceLinks}}
      <li class="flex items-start gap-3">
        {{{ icon 'arrow-right' 'h-4 w-4 mt-0.5 text-gray-20' }}}
        <div class="flex flex-col gap-1">
          <a href="{{this.url}}"
            target="_blank"
            rel="noopener noreferrer"
            class="underline decoration-transparent hover:text-white hover:decoration-inherit transition-colors">
            {{this.label}}
          </a>
          <span class="text-gray-40">{{this.text}}</span>   
        </div>
      </li>
    {{/each}}
  </ul>
</div>