<div>
  <h3 class="mb-1 text-lg font-medium text-gray-70">Parellization</h3>
  <p class="text-gray-70">Aldea's object model enables block producers to process transactions horizontally across multiple cores.</p>

  <div class="mt-6 grid grid-cols-2 gap-8">
    <figure class="p-6 md:p-8 lg:p-12 bg-white">
      <div class="h-80 flex flex-col items-center justify-center text-7xl font-bold text-red-lighter">?</div>
      <figcaption class="text-sm text-center">
        <div class="text-gray-80">Account model</div>
        <div class="text-gray-60">Single threaded execution</div>
      </figcaption>
    </figure>
    <figure class="p-6 md:p-8 lg:p-12 bg-white">
      <div class="h-80 flex flex-col items-center justify-center text-7xl font-bold text-red-lighter">?</div>
      <figcaption class="text-sm text-center">
        <div class="text-gray-80">Object model</div>
        <div class="text-gray-60">Parallel processing across multiple cores</div>
      </figcaption>
    </figure>
  </div>
</div>